<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<form action="/users/search" method="post">
    姓名：<input type="text" name="s_username" value="<%= datas.username %>"><br>
    密码：<input type="text" name="s_password" value="<%= datas.password %>"><br>
    <input type="submit" value="查询">
</form>
<table>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    <% for(var i = 0; i < datas.length; i++) {%>
        <tr>
            <td><%= datas[i].id %></td>
            <td><%= datas[i].username %></td>
            <td><%= datas[i].password %></td>
            <td><a href="/users/add">添加用户</a></td>
            <td><a href="/users/del/<%= datas[i].id %>">删除</a></td>
            <td><a href="/users/toUpdate/<%= datas[i].id %>">修改</a></td>
        </tr>
    <% } %>
</table>
</body>
</html>